.container {
    margin: 4rem;
    padding: 0;
    border-radius: 25px;
    background-color: #FCFCFC;
    margin-top: 10rem;
    margin-left: 20rem;
}

@media only screen and (max-width: 425px) {
    .container {
        margin-left: 2rem;
        min-width: 90%;
    }
}