<div class="modal fade show" style="display: block; padding-right: 15px">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-between">
        <h5 class="modal-title">
          <i class="fa fa-warning text-warning" style="margin-right: 7px; color: blue"></i>
          <span>{{ "user.change-password" | translate }}</span>
        </h5>
        <button type="button" class="close" (click)="dismiss()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      @if (changePasswordForm) {
      <form [formGroup]="changePasswordForm" (ngSubmit)="submit()">
        <div class="modal-body">
          @if(error){
          <p class="text-danger">{{ "errors." + error['message'] | translate }}</p>
          }
          <div class="col-12">
            <div class="form-group mt-3">
              <label for="currentPassword" class="form-label">
                {{ "user.current-password" | translate }}
              </label>
              <input type="password" class="form-control" formControlName="currentPassword" id="currentPassword"
                autocomplete="false" [class.is-invalid]="
                  submitted && controls.currentPassword.errors
                " showHidePassword />
              @if(submitted && controls.currentPassword.errors){
              <div class="invalid-feedback">
                {{ "errors.required" | translate }}
              </div>
              }
            </div>
          </div>
          <div class="col-12">
            <div class="form-group mt-3">
              <label for="password" class="form-label">
                {{ "user.password" | translate }}
              </label>
              <input type="password" class="form-control" formControlName="newPassword" id="password"
                autocomplete="false" [class.is-invalid]="submitted && controls.newPassword.errors" showHidePassword />
              @if(submitted && controls.newPassword.errors){
              <div class="invalid-feedback">
                {{ "errors.required" | translate }}
              </div>
              }
            </div>
          </div>
          <div class="col-12">
            <div class="form-group mt-3">
              <label for="repeatPassword" class="form-label">
                {{ "user.confirm-password" | translate }}
              </label>
              <input type="password" class="form-control" formControlName="repeatPassword" id="repeatPassword"
                autocomplete="false" [class.is-invalid]="submitted && controls.repeatPassword.errors"
                showHidePassword />
              @if(submitted && controls.repeatPassword.errors){
              <div class="invalid-feedback">
                @if (controls.repeatPassword.errors['required']) {
                {{ "errors.required" | translate }}
                } @if(controls.repeatPassword.errors['matching']){
                {{ "errors.not-match" | translate }}
                }
              </div>
              }
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-primary">
            {{ "action.submit" | translate }}
          </button>
        </div>
      </form>
      }
    </div>
  </div>
</div>