<div class="d-flex mt-5 justify-content-center align-items-center">
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <div class="reg-card">
      <div class="card-header">
        <h1 class="h1">{{ "login.title" | translate }}</h1>
      </div>
      <div class="card-body">
        @if(error){
        <p class="text-danger">{{ "errors." + error['message'] | translate }}</p>
        }
        <div class="form-group mt-3">
          <label for="email" class="form-label">{{
            "login.email" | translate
          }}</label>
          <input
            type="text"
            id="email"
            class="form-control"
            formControlName="email"
            placeholder="{{ 'login.email' | translate }}"
            autocomplete="false"
            [ngClass]="{
              'is-invalid': isSubmitted && controls.email.errors
            }"
            autofocus
          />
          @if (isSubmitted && controls.email.errors) {
          <div class="invalid-feedback">
            @if (controls.email.errors['required']) {
            {{ "errors.required" | translate }}
            }@else if (controls.email.errors['invalidEmail']) {
            {{ "errors.invalid-email" | translate }}
            }
          </div>
          }
        </div>
        <div class="form-group mt-3 mb-2">
          <label for="password" class="form-label">{{
            "login.password" | translate
          }}</label>
          <input
            type="password"
            id="password"
            class="form-control"
            formControlName="password"
            placeholder="{{ 'login.password' | translate }}"
            autocomplete="false"
            [ngClass]="{
              'is-invalid': isSubmitted && controls.password.errors
            }"
            showHidePassword
          />
          @if (isSubmitted && controls.password.errors) {
          <div class="invalid-feedback">
            {{ "errors.required" | translate }}
          </div>
          }
        </div>
        <div class="separator"></div>
        <div class="form-group mt-3">
          <button class="btn btn-primary w-100" type="submit">
            {{ "login.login" | translate }}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
