.reg-card {
    width: 35vw;
    max-width: 628px;
    min-width: 536px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: #fff;
}

.card-header {
    background-color: #0d6efd;
    color: #fff;
    min-height: 84px;
    padding: 1rem;
}

.card-header h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    font-size: 24px;
    font-weight: 700;
}

.card-body {
    padding: 20px;
}

.separator {
    margin-top: 2rem;
}

@media only screen and (max-width: 425px) {
    .reg-card {
        width: 100%;
        min-width: auto;
    }
}